--CREATE DATABASE QUANLYDEAN
--USE QUANLYDEAN
--CREAT TABLE----------------------------------------------------------
CREATE TABLE PHONGBAN
(
	TENPHG NVARCHAR(30),
	MAPHG INT NOT NULL,
	TRPHG CHAR(9),
	NG_NHANCHUC DATETIME,
	CONSTRAINT PK_PHONGBAN PRIMARY KEY(MAPHG)
)
CREATE TABLE NHANVIEN
(
	HONV NVARCHAR(30),
	TENLOT NVARCHAR(30),
	TENNV NVARCHAR(30),
	MANV CHAR(9) NOT NULL,
	NGSINH DATETIME,
	DCHI NVARCHAR(50),
	PHAI NCHAR(6),
	LUONG FLOAT,
	MA_NQL CHAR(9),
	PHG INT,
	CONSTRAINT PK_NHANVIEN PRIMARY KEY(MANV)
)

CREATE TABLE DIADIEM_PHG
(
	MAPHG INT NOT NULL,
	DIADIEM NVARCHAR(30) NOT NULL,
	CONSTRAINT PK_DIADIEM_PG PRIMARY KEY(MAPHG,DIADIEM)
)

CREATE TABLE CONGVIEC
(
	MADA INT NOT NULL,
	STT INT NOT NULL,
	TEN_CONG_VIEC NVARCHAR(50),
	CONSTRAINT PK_CONGVIEC PRIMARY KEY(MADA, STT)
)

CREATE TABLE PHANCONG
(
	MA_NVIEN CHAR(9) NOT NULL,
	MADA INT NOT NULL,
	STT INT NOT NULL,
	THOIGIAN DECIMAL(5,1),
	CONSTRAINT PK_PHANCONG PRIMARY KEY(MA_NVIEN, MADA, STT)
)

CREATE TABLE THANNHAN
(
	MA_NVIEN CHAR(9) NOT NULL,
	TENTN NVARCHAR(30) NOT NULL,
	PHAI NCHAR(6),
	NGSINH DATETIME,
	QUANHE NVARCHAR(16),
	CONSTRAINT PK_THANNHAN PRIMARY KEY(MA_NVIEN, TENTN)
)
CREATE TABLE DEAN
(
	TENDA NVARCHAR(30),
	MADA INT NOT NULL,
	DDIEM_DA NVARCHAR(30),
	PHONG INT,
	CONSTRAINT PK_DEAN PRIMARY KEY(MADA)
)

--FOREIGN KEY----------------------------------------------------------
ALTER TABLE NHANVIEN
	ADD CONSTRAINT FK_NHANVIEN_NHANVIEN FOREIGN KEY(MA_NQL) REFERENCES NHANVIEN(MANV)
ALTER TABLE NHANVIEN
	ADD CONSTRAINT FK_NHANVIEN_PHONGBAN FOREIGN KEY(PHG) REFERENCES PHONGBAN(MAPHG)

ALTER TABLE PHONGBAN
	ADD CONSTRAINT FK_PHONGBAN_NHANVIEN FOREIGN KEY(TRPHG) REFERENCES NHANVIEN(MANV)
ALTER TABLE DIADIEM_PHG
	ADD CONSTRAINT FK_DIADIEM_PHG_PHONGBAN FOREIGN KEY(MAPHG) REFERENCES PHONGBAN(MAPHG)
ALTER TABLE PHANCONG
	ADD CONSTRAINT FK_PHANCONG_NHANVIEN FOREIGN KEY(MA_NVIEN) REFERENCES NHANVIEN(MANV)
ALTER TABLE PHANCONG
	ADD CONSTRAINT FK_PHANCONG_CONGVIEC FOREIGN KEY(MADA,STT) REFERENCES CONGVIEC(MADA,STT)
ALTER TABLE CONGVIEC
	ADD CONSTRAINT FK_CONGVIEC_DEAN FOREIGN KEY(MADA) REFERENCES DEAN(MADA)
ALTER TABLE THANNHAN
	ADD CONSTRAINT FK_THANNHAN_NHANVIEN FOREIGN KEY(MA_NVIEN) REFERENCES NHANVIEN(MANV)
ALTER TABLE DEAN
	ADD CONSTRAINT FK_DEAN_PHONGBAN FOREIGN KEY(PHONG) REFERENCES PHONGBAN(MAPHG)
---------------------------------------------------------------------------
ALTER TABLE NHANVIEN
	ADD CONSTRAINT NV_PHAI_CHK CHECK(PHAI IN(N'NAM',N'NỮ'))
ALTER TABLE THANNHAN
	ADD CONSTRAINT TN_PHAI_CHK CHECK(PHAI IN(N'NAM',N'NỮ'))

--INSERT PHONGBAN-----
INSERT INTO PHONGBAN VALUES (N'Nghiên cứu',	5,	NULL,'05/22/1978')
INSERT INTO PHONGBAN VALUES (N'Điều hành' ,	4,	NULL,'01/01/1985')
INSERT INTO PHONGBAN VALUES (N'Quản lý'   ,	1,	NULL,'06/19/1971')
--INSERT NHANVIEN-----

INSERT INTO NHANVIEN VALUES (N'Đinh',	N'Bá',		N'Tiên',	'009',	'02/11/1960',	N'119 Cống Quỳnh, Tp HCM',		N'Nam',	30000,	NULL,	5)
INSERT INTO NHANVIEN VALUES (N'Nguyễn',	N'Thanh',	N'Tùng',	'005',	'08/20/1962',	N'222 Nguyễn Văn Cừ, Tp HCM',	N'Nam',	40000,	NULL,	5)
INSERT INTO NHANVIEN VALUES (N'Bùi',	N'Ngọc',	N'Hằng',	'007',	'3/11/1954',	N'332 Nguyễn Thái Học, Tp HCM',	N'Nam',	25000,	NULL,	4)

----PHONGBAN-------------------------
UPDATE PHONGBAN SET TRPHG=N'005' WHERE MAPHG=5
UPDATE PHONGBAN SET TRPHG=N'008' WHERE MAPHG=4
UPDATE PHONGBAN SET TRPHG=N'006' WHERE MAPHG=1
----NHANVIEN---------------------------
UPDATE NHANVIEN SET MA_NQL=N'005' WHERE MANV=N'009'
UPDATE NHANVIEN SET MA_NQL=N'006' WHERE MANV=N'005'
UPDATE NHANVIEN SET MA_NQL=N'001' WHERE MANV=N'007'
UPDATE NHANVIEN SET MA_NQL=N'006' WHERE MANV=N'001'
UPDATE NHANVIEN SET MA_NQL=N'005' WHERE MANV=N'004'
UPDATE NHANVIEN SET MA_NQL=N'005' WHERE MANV=N'003'
UPDATE NHANVIEN SET MA_NQL=N'001' WHERE MANV=N'008'

----INSERT DIADIEM_PHG-------------------------------------

INSERT INTO DIADIEM_PHG VALUES(1,	N'TP HCM')
INSERT INTO DIADIEM_PHG VALUES(4,	N'Hà Nội')
INSERT INTO DIADIEM_PHG VALUES(5,	N'TAU')

----INSERT DEAN--------------------------------------

INSERT INTO DEAN VALUES(N'San pham X',	1,	N'Vũng Tàu',	5)
INSERT INTO DEAN VALUES(N'San pham Y',	2,	N'Nha Trang',	5)
INSERT INTO DEAN VALUES(N'San pham Z',	3,	N'TP HCM',		5)

----INSERT CONGVIEC--------------------------------

INSERT INTO CONGVIEC VALUES(1,	1,	'Thiet ke san pham X')
INSERT INTO CONGVIEC VALUES(1,	2,	'Thu nghiem san pham X')
INSERT INTO CONGVIEC VALUES(2,	1,	'San xuat san pham Y')

----INSERT PHANCONG--------------------------------

INSERT INTO PHANCONG VALUES('009',	1,	1,	32)
INSERT INTO PHANCONG VALUES('009',	2,	2,	8)
INSERT INTO PHANCONG VALUES('004',	3,	1,	40)

----INSERT THANNHAN-----------------------------

INSERT INTO THANNHAN VALUES('005',	N'Trinh',	N'Nữ',	'04/05/1976',	N'Con gái')
INSERT INTO THANNHAN VALUES('005',	N'Khang',	N'Nam',	'10/25/1973',	N'Con trai')
INSERT INTO THANNHAN VALUES('005',	N'Phương',	N'Nữ',	'05/03/1948',	N'Vợ chồng')
